*{
    margin : 0; padding: 0; box-sizing: border-box;
}

html,body {
    width: 100%; 
    height: 100%;
    background-color: antiquewhite;
}


.parent {
    padding: 10px;
    width: 500px; height: 400px; background-color: aqua;
    font-size: 16px;
}

.parent h1 {
    font-size: 3em;
}

.parent h4 {
    font-size : 2em
}
.parent p {
    font-size :1.5em
}






